Django>=5.1,<7
djangorestframework>=3.15
django-cors-headers>=4.6
openpyxl>=3.1
python-dateutil>=2.9
psycopg[binary]>=3.2
python-decouple>=3.8
gunicorn
dj-database-url>=2.2
psycopg-pool>=3.2
PyJWT[crypto]>=2.9
